# App
APP_NAME="FAY Portfolio"
APP_URL="http://localhost/faydev/faylabs-dashboard"
APP_ENV="development"

# Database
DB_HOST=localhost
DB_NAME=faylabs_dashboard
DB_USER=root
DB_PASS=
DB_CHARSET=utf8mb4

# Cloudinary
CLOUDINARY_CLOUD_NAME=name
CLOUDINARY_API_KEY=key
CLOUDINARY_API_SECRET=secret
CLOUDINARY_FOLDER=portfolio
BASE_PATH=/faydev/faylabs-dashboard